<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Push Coordinates</title>
</head>
<body>
    <h1>Введите города отправления и прибытия</h1>
    <form action="/weather" method="POST">
        <label for="latitude">Город отправления:</label>
        <input type="text" id="latitude" name="latitude" required>
        <br>
        <label for="longitude">Город прибытия:</label>
        <input type="text" id="longitude" name="longitude" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
